.Layout h1 {
    text-align: center;
    font-size: 30pt;
    color: darkslategray;
    font-weight: 800;
}

.Layout nav {
    text-align: center;
    color: gray;
}

.Layout h2 {
    text-align: center;
    color: lightslategray;
}

.Layout a{
    color:#475969;
}

.Layout a:hover {
    color: white;
}