@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100%;
    background-color: #CDD5DB;
    font-family: 'Raleway', sans-serif;
}